.product {
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-shadow: 16px 16px 32px #82828211;
    margin: 22px;
}

h2 {
    color: red;
}

.product input {
    width: 64px;
    text-align: right;
    margin-right: 10px;
}