.App {
    text-align: center;
}
.App-header {
    padding-top: 44px;
}
.tables-section {
    display: flex;
    padding: 44px;
    justify-content: center;
    align-items: flex-start;
}
.ui.input {
    margin: 10px 10px;
}
.ui.input input {
    text-align: right;
    width: 88px;
}
.ui.input.amount input {
    width: 144px;
}
.ui.label {
    background-color: #ececec;
}