.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 44px;
}

.App-link {
  color: #61dafb;
}
h2 {
  margin: 14px 0 32px 0;
}
input {
  text-align: right;
  width: 88px;
  margin: 4px 12px;
  padding: 6px;
  font-size: calc(10px + 2vmin);
  border-radius: 8px;
}
input.amount {
  width: 188px;
}
table {
  width: 100%;
  margin-top: 14px;
}
tr {
  background-color: #323;
}
th {
  font-size: calc(6px + 2vmin);
}
tfoot th {
  text-align: right;
}
td {
  border: 1px solid #333;
  font-size: calc(4px + 2vmin);
  text-align: right;
}
