.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 44px;
}

.App-link {
  color: #61dafb;
}
input {
  text-align: right;
  width: 144px;
  margin: 4px 12px;
  padding: 6px;
  font-size: calc(10px + 2vmin);
  border-radius: 8px;
}
table {
  width: 100%;
  margin-top: 14px;
}
tr {
  background-color: #323;
}
td {
  border: 1px solid #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
